<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <script src="/static/cytoscape.min.js"></script>
    </head>
    <body>
        Hello, {{sentence}}!!!
        <pre>
            {{parse_str}}
        </pre>

        <div id="cy" style="width: 500px; height: 500px;"></div>

        <script>
        var cy = cytoscape({
          container: document.getElementById('cy'),
          elements: {
            nodes: {{ nodes|tojson }},
            edges: {{ edges|tojson }}
          },
          layout: {
            name: 'preset'
          },
          style: [{
            selector: 'node',
            style: {
              'label': 'data(title)',
              'width': '50px',
              'font-size': '12px',
              'text-valign': 'center',
            }
          }, {
            selector: 'edge',
            style: {
              'curve-style': 'unbundled-bezier',
              'control-point-distances': '-50 -50',
              'control-point-weights': '0 1',
              'width': 2,
              'line-color': '#ccc',
              'target-arrow-color': '#ccc',
              'target-arrow-shape': 'triangle'
            }
          }]
        });
        </script>


    </body>
</html>
